.side-bar {
  flex: 3;
  padding: 10px;
  h3 {
    margin: 20px 0 20px;
  }
  .size-select {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    &-item {
      --size: 50px;
      display: block;
      height: var(--size);
      width: var(--size);
      font-size: 16px;
      font-weight: 600;
      border: 0;
      border-radius: 50%;
      background-color: var(--primary-color);
      text-align: center;
      line-height: var(--size);
      cursor: pointer;
      &:active {
        background-color: black;
        color: white;
      }
    }
  }
  p {
    font-size: 14px;
    text-align: center;
    color: var(--secondary-color);
    margin: 10px 0 10px;
  }
  button {
    display: block;
    height: 30px;
    width: 50px;
    background-image: linear-gradient(white, var(--primary-color));
    font-size: 20px;
    margin: 0 auto 0 auto;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    &:active {
      background-image: none;
      background-color: black;
      color: white;
    }
  }
}
