:root {
  --primary-color: rgb(227, 225, 225);
  --secondary-color: rgb(160, 160, 160);
}
html {
  width: 1200px;
  margin: 0 auto 0 auto;
  font-size: inherit;
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto Slab", serif;
}
button {
  cursor: pointer;
}
.App {
  display: flex;
  border: 1px solid gray;
}
