:root {
  --primary-color: rgb(227, 225, 225);
  --secondary-color: rgb(160, 160, 160);
  --button-color: #4ab9f8;
}
html {
  /* width: 1200px; */
  margin: 0 auto 0 auto;
  font-size: inherit;
  min-height: 100%;
  body {
    min-height: 100%;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto Slab", serif;
  a {
    text-decoration: none;
  }
}
button {
  cursor: pointer;
}
.App {
  min-height: 100%;
  .main {
    display: flex;
    min-height: 100%;
  }
  .totop {
    position: fixed;
    right: 10px;
    bottom: 100px;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
  }
}
